{% include "store/base.html" %}

{% load static %}

{% block content %}

<style>

    body {
        background-color: #F0FFF0;
    }

</style>

<body>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h4>Welcome {{user}}</h4>

        <hr>
        <p>Here you can:</p>
        <ul>
            <li> Track Orders </li>
            <li> Make changes to your account </li>
        </ul>

    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h4> Track your orders </h4>

        <hr>

        <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'user-logout' %}"> Track Orders </a>


    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h4> Manage your account </h4>

        <hr>

        <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'profile-management' %}"> Profile Management </a>

        <br><br>


    </div>

    <br>


</body>

{% endblock %}